<h1><%=title%></h1>
<ul>
	<% for(var i=0;i<array.length;i++){ %>
		<li>
			<%=array[i]%>
		</li>
	<% } %>

</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>

<ul id="messages"></ul>
<form action="">
	<input id="m" autocomplete="off" /><button>Send</button>
</form>